extends ./layout.pug

block content
    h1 Oh No!
    p Something went terribly wrong!
    .row
    .col.s12
        img(src="https://i.pinimg.com/originals/6c/16/e9/6c16e998ec4a6c7f63a51f7a78d01ee5.gif")
